<form>
    <div class="form-group row">
        <label for="txtLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input id="txtLogin" class="form-control" type="text" ng-model="$ctrl.user.login" aria-describedby="helpTxtLogin" />
                <div class="input-group-append">
                    <span class="input-group-text far fa-user"></span>
                </div>
            </div>
            <small id="helpTxtLogin " class="form-text text-muted">
                Must be unique. If used, certificates should certify CN={{$ctrl.user.login}}
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="txtFree" class="col-sm-2 col-form-label">Full name</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input id="txtFree" class="form-control" type="text" ng-model="$ctrl.user.freeText" />
                <div class="input-group-append">
                    <span class="input-group-text fas fa-file-signature"></span>
                </div>
            </div>
            <small class="form-text text-muted">
                Optional description of the account (real name or service name)
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="txtMail" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input id="txtMail" class="form-control" type="email" ng-model="$ctrl.user.email" />
                <div class="input-group-append">
                    <span class="input-group-text far fa-envelope"></span>
                </div>
            </div>
            <small class="form-text text-muted">
                Optional contact e-mail address
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtPassword" class="col-sm-2 col-form-label">Change password</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input id="txtPassword" class="form-control" type="text" ng-model="$ctrl.user.newPassword"
                    aria-describedby="descTxtPassword" />
                <div class="input-group-append">
                    <span class="input-group-text fas fa-key"></span>
                </div>
            </div>
            <small id="descTxtPassword" class="form-text text-muted">
                Leave empty to leave password untouched on save. Passwords are ignored if a certificate is used. An
                empty password forces the use of a certificate.
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="dtExp" class="col-sm-2 col-form-label">Expiration</label>
        <div class="col-sm-10">
            <div class="input-group date" data-provide="datepicker" data-date-autoclose="true" data-date-calendar-weeks="true"
                data-date-max-view-mode="years" data-date-start-date="+1d" data-date-end-date="+11y"
                data-date-today-highlight="true" data-date-week-start="1" data-date-format="dd/mm/yyyy">

                <input id="dtExp" class="form-control" type="text" ng-model="$ctrl.user.expirationDate"
                    aria-describedby="descDtExp" value="$ctrl.user.expirationDate" />
                <div class="input-group-append input-group-addon">
                    <span id="descDtExp" class="input-group-text far fa-calendar-alt"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="cbLocked" class="col-sm-2 col-form-label">Locked</label>
        <div class="col-sm-10">
            <input id="cbLocked" class="form-control" type="checkbox" ng-model="$ctrl.user.locked" />
        </div>
    </div>

    <div class="form-group row">
        <label for="lsRoles" class="col-sm-2 col-form-label">Roles</label>
        <div class="col-sm-10">
            <select id="lsRoles" class="form-control" size="10" multiple ng-options="r.id as r.name for r in $ctrl.roles | orderBy: name"
                ng-model="$ctrl.user.roles"></select>
            <small class="form-text text-muted">Use CTRL+click to select multiple roles</small>
        </div>
    </div>

</form>