<jqm-jd-cron-dialog ng-model="$ctrl.jd" queues="$ctrl.queues" show="showCron"></jqm-jd-cron-dialog>

<div class="card-deck">

    <div class="card m-2">
        <div class="card-header">
            Identity
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label for="txtName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtName" class="form-control" type="text" ng-model="$ctrl.jd.applicationName" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-signature"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">It is the key used to designate the Job Definition in the
                        different APIs and dialogs.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="txtDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtDescription" class="form-control" type="text" ng-model="$ctrl.jd.description" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-signature"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A human-readable description of what the job does.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="lQueue" class="col-sm-2 col-form-label">Default queue</label>
                <div class="col-sm-10">
                    <select name="lQueue" id="lQueue" class="w-auto" ng-model="$ctrl.jd.queueId" ng-options="q.id as q.name for q in $ctrl.queues"></select>

                    <small class="form-text text-muted">The queue which will be used when submitting execution requests
                        (if no specific queue is given at request time).</small>
                </div>
            </div>



            <div class="form-group row">
                <label for="cbEnabled" class="col-sm-2 col-form-label">Enabled</label>
                <div class="col-sm-10">
                    <input id="cbEnabled" class="form-control w-auto h-auto d-block" type="checkbox" ng-model="$ctrl.jd.enabled" />

                    <small class="form-text text-muted">If disabled, all instances will always succeed instantly.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="cbHighlander" class="col-sm-2 col-form-label">Highlander</label>
                <div class="col-sm-10">
                    <input id="cbHighlander" class="form-control w-auto h-auto d-block" type="checkbox" ng-model="$ctrl.jd.highlander" />

                    <small class="form-text text-muted">If checked, there can never be more than one instance of the
                        Job Definition running at the same time, as well as no more than one waiting in any queue.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="infoScheduling" class="col-sm-2 col-form-label">Scheduling</label>
                <div class="col-sm-10">
                    <span style="display: inline-block;" class="form-text">{{$ctrl.jd.schedules.length}} schedules.</span>
                    <button style="display: inline-block;" class="btn btn-outline-dark" ng-click="showCron=true">
                        <span class="far fa-clock"></span>
                        Cron parameters
                    </button>

                    <small class="form-text text-muted">Schedules allow to launch the job from cron expressions and set
                        dates.</small>
                </div>
            </div>

        </div>
    </div>

    <div class="card m-2">
        <div class="card-header">
            Tags
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label for="txtApp" class="col-sm-2 col-form-label">Application</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtApp" class="form-control" type="text" ng-model="$ctrl.jd.application" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-fingerprint"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A simple tag for classification and queries.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtModule" class="col-sm-2 col-form-label">Module</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtModule" class="form-control" type="text" ng-model="$ctrl.jd.module" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-puzzle-piece"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A simple tag for classification and queries.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="txtKeyword1" class="col-sm-2 col-form-label">Keyword 1</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtKeyword1" class="form-control" type="text" ng-model="$ctrl.jd.keyword1" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-tags"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A simple tag for classification and queries.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtKeyword2" class="col-sm-2 col-form-label">Keyword 2</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtKeyword2" class="form-control" type="text" ng-model="$ctrl.jd.keyword2" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-tags"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A simple tag for classification and queries.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="txtKeyword3" class="col-sm-2 col-form-label">Keyword 3</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input id="txtKeyword3" class="form-control" type="text" ng-model="$ctrl.jd.keyword3" />
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-tags"></span>
                        </div>
                    </div>
                    <small class="form-text text-muted">A simple tag for classification and queries.</small>
                </div>
            </div>

        </div>

    </div>
</div>
