<jqm-jd-common jd="$ctrl.jd"></jqm-jd-common>

<jqm-jd-process jd="$ctrl.jd" ng-if="$ctrl.jd.pathType === 'DIRECTEXECUTABLE'"></jqm-jd-process>

<jqm-jd-shell jd="$ctrl.jd" ng-if="$ctrl.jd.pathType === 'DEFAULTSHELLCOMMAND' || $ctrl.jd.pathType === 'POWERSHELLCOMMAND'"></jqm-jd-shell>

<jqm-jd-java jd="$ctrl.jd" ng-if="$ctrl.jd.pathType === 'FS' || $ctrl.jd.pathType === 'MAVEN' || $ctrl.jd.pathType === 'MEMORY'"></jqm-jd-java>

<a class="btn btn-outline-dark" href="/ws/admin/jd/{{$ctrl.jd.id}}/xml" ng-show="$ctrl.jd">
    <span class="fas fa-file-export"></span>
    {{$ctrl.jd.applicationName}} deployment descriptor
</a>
<button class="btn btn-outline-dark" ng-click="$ctrl.onRemove()" ng-enabled="$ctrl.selected_jd" jqm-permission="jd:delete">
    <span class="far fa-trash-alt"></span>
    Delete {{$ctrl.jd.applicationName}}
</button>
