<div class="row h-100 pt-2">
    <div class="col-md-2 pb-4">
        <input ng-model=" queryStr" type="text" placeholder="filter definitions..." />

        <select class="form-control" style="overflow: auto; height: calc(100% - 4em);" ng-model="$ctrl.selected_jd"
            size="25" ng-options="o as o.applicationName for o in $ctrl.jds | filter: {applicationName: queryStr}  | orderBy: 'applicationName'">
        </select>

        <div class="btn-group" role="group">
            <button id="btnNew" type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus-circle"></span>
                New
            </button>
            <div class="dropdown-menu" aria-labelledby="btnNew">
                <div class="dropdown-item" ng-click="$ctrl.newitem('FS')">Java job</div>
                <div class="dropdown-item" ng-click="$ctrl.newitem('DEFAULTSHELLCOMMAND')">Shell job</div>
                <div class="dropdown-item" ng-click="$ctrl.newitem('DIRECTEXECUTABLE')">Process job</div>
            </div>
        </div>
        <button class="btn btn-outline-dark" ng-click="$ctrl.refresh()">
            <span class="fas fa-sync-alt"></span>
            Refresh
        </button>
        <button class="btn btn-outline-dark" ng-click="$ctrl.save()" jqm-permission="jd:create">
            <span class="far fa-save"></span>
            Save all
        </button>

        <a class="btn btn-outline-dark" href="/ws/admin/jd/all/xml" ng-show="$ctrl.jds.length > 0">
            <span class="fas fa-file-export"></span>
            Export all
        </a>

    </div>

    <div class="col-md-10 overflow-auto h-100 pb-3">
        <jqm-jd-details jd="$ctrl.selected_jd" on-remove="$ctrl.remove"></jqm-jd-details>
    </div>
</div>
