**/target/
**/*.log
**/*.jar
**/*.war
**/.settings/
**/bin/
**/.project
**/ext/
**/logs/
**/plugins/
.git
**/Dockerfile*
**/DockerFile*
**/docker-compose.yml
**/node_modules/
**/package-lock.json
/jqm-all/jqm-ws/src/main/webapp/**
!/jqm-all/jqm-ws/src/main/webapp/WEB-INF/**
