**/target/
**/*.log
**/*.jar
**/*.war
**/.settings/
**/bin/
**/.project
**/ext/
**/logs/
**/plugins/
.git
**/Dockerfile*
**/DockerFile*
**/docker-compose.yml
**/webapp/dist/
.tern-project
**/node_modules/
**/package-lock.json
