.settings
.class
target/
bin/
.classpath
*.launch
*.project
testprojects

/jqmProject/nbproject/private/
/jqmProject/dist/
/jqmProject/build/
/JobQueueAPI/nbproject/private/
/JobBaseAPI/nbproject/private/
/JobQueueAPI/build/
/JobQueueAPI/dist/
