<jqm-modal show="$ctrl.show" title="Schedules for job definition {{$ctrl.selectedJd.applicationName}}">

    <div class="row" style="min-height: 150px;">
        <div class="col-md-8" style="height: 100%;">
            <div ui-grid='$ctrl.gridOptionsCron' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns
                ui-grid-auto-resize style='height: 200px;'></div>

            <button class="btn btn-outline-dark" ng-click="$ctrl.newcron()">
                <span class="fas fa-plus-circle"></span>
                New schedule
            </button>
            <button class="btn btn-outline-dark" ng-click="$ctrl.removecron()" ng-disabled="$ctrl.selectedSchedule.length === 0"
                jqm-permission="jd:delete">
                <span class="far fa-trash-alt"></span>
                Delete selected
            </button>
        </div>


        <div class="col-md-4">
            <div ui-grid='$ctrl.gridOptionsCronPrm' ui-grid-edit ui-grid-selection ui-grid-cellNav
                ui-grid-resize-columns ui-grid-auto-resize style='height: 200px;'></div>

            <button class="btn btn-outline-dark" ng-click="$ctrl.newcronprm()" ng-disabled="$ctrl.selectedSchedule.length === 0">
                <span class="fas fa-plus-circle"> </span>
                New parameter
            </button>
            <button class="btn btn-outline-dark" ng-click="$ctrl.removecronprm()" ng-disabled="$ctrl.selectedSchedulePrm.length === 0"
                jqm-permission="jd:delete">
                <span class="far fa-trash-alt"></span>
                Delete selected
            </button>
        </div>
    </div>

    </div>

    <modal-footer>
        <span class="pull-left"><a target="_blank" href="https://en.wikipedia.org/wiki/Cron">Wikipedia help on cron</a>
        </span>

        <button class="btn btn-outline-dark" ng-click="$ctrl.show = false">Close</button>
    </modal-footer>
</jqm-modal>
