<!doctype html>
<html lang="en" ng-app="jqmApp">
<head>
<meta charset="utf-8">
<title>JQM administration</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/ng-grid.css">
<link rel="stylesheet" href="css/app.css">
<script src="libs/jquery-1.11.1.js"></script>
<script src="libs/bootstrap.js"></script>
<script src="libs/angular.js"></script>
<script src="libs/angular-route.js"></script>
<script src="libs/angular-cookies.js"></script>
<script src="libs/angular-resource.js"></script>
<script src="libs/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="libs/ng-grid-2.0.14.js"></script>
<script src="libs/ng-grid-flexible-height.js"></script>
<script src="libs/angular-sanitize.js"></script>
<script src="app.js"></script>
<script src="controller/node.js"></script>
<script src="controller/q.js"></script>
<script src="controller/mapping.js"></script>
<script src="controller/jndi.js"></script>
<script src="controller/prm.js"></script>
<script src="controller/jd.js"></script>
<script src="controller/user.js"></script>
<script src="controller/role.js"></script>
<script src="controller/history.js"></script>
<script src="service/data.js"></script>
<script src="constant/resource_template.js"></script>
</head>

<body>
  <div class="container-fluid" style="margin-top: 3px; padding: 3px;">
        <ul class="nav nav-tabs" role="tablist" ng-controller="TabsCtrl">
            <li ng-repeat="tab in tabs" ng-class="tabClass(tab)" jqm-permission="{{tab.permission}}">
              <a href="{{tab.link}}" ng-click="setSelectedTab(tab)"><div ng-bind-html="tab.label"></div></a>
            </li>
        </ul>
        <div ng-view></div>
        <login-dialog></login-dialog>    
  </div>
</body>

</html>
