<!doctype html>
<html lang="en" ng-app="jqmApp">
<head>
<meta charset="utf-8">
<title>JQM administration</title>
<link rel="icon" type="image/x-icon" href="css/favicon.png" />
<link rel="stylesheet" href="css/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="css/ui-grid-3.2.9.min.css">
<link rel="stylesheet" href="css/select-0.19.4.min.css">
<link rel="stylesheet" href="css/angular.rangeSlider-0.14.css">
<link rel="stylesheet" href="css/app.css">

<script src="libs/jquery-3.1.0.min.js"></script>
<script src="libs/bootstrap-3.3.7.min.js"></script>

<script src="libs/angularjs-1.5.8/angular.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-resource.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-route.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-sanitize.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-cookies.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-animate.min.js"></script>
<script src="libs/angularjs-1.5.8/angular-touch.min.js"></script>

<script src="libs/angular-busy.js"></script>
<script src="libs/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="libs/ui-grid-3.2.9.min.js"></script>
<script src="libs/select-0.19.4.min.js"></script>
<script src="libs/angular.rangeSlider-0.14.js"></script>

<script src="common.js"></script>
<script src="app.js"></script>
<script src="controller/node.js"></script>
<script src="controller/q.js"></script>
<script src="controller/mapping.js"></script>
<script src="controller/jndi.js"></script>
<script src="controller/prm.js"></script>
<script src="controller/jd.js"></script>
<script src="controller/user.js"></script>
<script src="controller/role.js"></script>
<script src="controller/history.js"></script>
<script src="service/data.js"></script>
<script src="constant/resource_template.js"></script>
<script src="controller/file_reader.js"></script>
</head>

<body>
  <div class="container-fluid" style="padding: 3px; height: 100%;">
        <ul class="nav nav-tabs" role="tablist" ng-controller="TabsCtrl">
            <li ng-repeat="tab in tabs" ng-class="tabClass(tab)" jqm-permission="{{tab.permission}}">
              <a href="{{tab.link}}" ng-click="setSelectedTab(tab)"><div ng-bind-html="tab.label"></div></a>
            </li>
            <li style="right:5px; vertical-align:center; position: absolute; height: 42px; font-style: italic; font-weight: bolder;" busy="Busy..."> </li>
        </ul>
        
        <div ng-controller="AlertCtrl" ng-hide="!alert.data.userReadableMessage">
            <div uib-alert ng-class="'alert-danger'" type="danger" close="closeAlert($index)">
                <div class="dl-horizontal">
                    <dt>Error</dt>
                    <dd>{{alert.data.userReadableMessage}}</dd>
                </div>
                <div class="dl-horizontal">
                    <dt>Error code</dt>
                    <dd>{{alert.data.errorCode}}</dd>
                </div>
                
                <div class="dl-horizontal" uib-collapse="!isCollapsed">
                    <dt></dt>
                    <dd><button class="btn btn-default" ng-click="toggle()">Show advanced error data</button></dd>
                </div>
                
                <div uib-collapse="isCollapsed">
                    <div class="dl-horizontal">
                        <dt>Detailed message</dt>
                        <dd>{{alert.data.developerMessage}}</dd>
                    </div>
                    <div class="dl-horizontal">
                        <dt>Stacktrace</dt>
                        <dd ng-bind-html="alert.data.stacktrace | j2h"/></dd>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-view style="height: calc(100% - 50px);"></div>
        <login-dialog></login-dialog>    
  </div>
</body>

</html>
