<div ng-hide="!$ctrl.alertHolder.alertData.data.userReadableMessage">
    <div class="alert alert-danger alert-dismissible" role="danger">
        <button type="button" class="close" ng-click="$ctrl.closeAlert();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <dl class="row">
            <dt class='col-sm-3'>Error</dt>
            <dd class='col-sm-9'>{{$ctrl.alertHolder.alertData.data.userReadableMessage}}</dd>

            <dt class='col-sm-3'>Error code</dt>
            <dd class='col-sm-9'>{{$ctrl.alertHolder.alertData.data.errorCode}}</dd>

            <dt class='col-sm-3' ng-show="$ctrl.isCollapsed"></dt>
            <dd class='col-sm-9' ng-show="$ctrl.isCollapsed">
                <button class="btn btn-primary" ng-click="$ctrl.toggleDetail()">
                    Show advanced errordata
                </button>
            </dd>
        </dl>

        <dl class="row" ng-show="!$ctrl.isCollapsed">
            <dt class='col-sm-3'>Detailed message</dt>
            <dd class='col-sm-9'>{{$ctrl.alertHolder.alertData.data.developerMessage}}</dd>

            <dt class='col-sm-3'>Stacktrace</dt>
            <dd class='col-sm-9' ng-bind-html="$ctrl.alertHolder.alertData.data.stacktrace | j2h"></dd>
        </dl>
    </div>
</div>
</div>
