<div class="row">
    <div class="col-md-12">
        <h5>
            <span ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed=true">
                <jqm-help-tag></jqm-help-tag>
            </span>
        </h5>
        <div class="card bg-light" ng-show="!isCollapsed">
            <div class="card-body">
                <h5>{{$ctrl.content.title}}</h5>

                <p ng-repeat="text in $ctrl.content.paragraphs" ng-bind-html="text | unsafe"></p>

                <dl class="row">
                    <dt class="col-md-2 text-right" ng-repeat-start="(key, description) in $ctrl.content.columns">{{key}}</dt>
                    <dd class="col-md-10" ng-repeat-end ng-bind-html="description | unsafe"></dd>
                </dl>

                <p ng-repeat="text in $ctrl.content.notes" ng-bind-html="text | unsafe"></p>
            </div>
        </div>
    </div>
</div>
