<div id={{$ctrl.dialogId}} data-backdrop='static' data-keyboard="true" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog ng-class:$ctrl.modalClass" role="document">
        <div class="modal-content">

            <div class="modal-header" ng-if="$ctrl.title">
                <h5 class="modal-title">{{$ctrl.title}}</h5>
            </div>

            <div class="modal-body">
                <ng-transclude></ng-transclude>
            </div>

            <div class="modal-footer">
                <ng-transclude ng-transclude-slot="footer">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.hide(); ">Close</button>
                </ng-transclude>
            </div>
        </div>
    </div>
</div>
