<configuration>
    <!-- A console appender -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{dd/MM.HH:mm:ss.SSS}|%-5level|%-40.40thread|%35.35logger{1}|%exception%message%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.enioka.jqm.configservices" level="warn" />
    <logger name="com.enioka.jqm.test.helpers" level="warn" />
    <logger name="com.enioka.jqm.jdbc" level="info" />
    <logger name="org.ops4j.pax" level="info" />
    <logger name="org.apache.commons.beanutils" level="info" />
    <logger name="org.eclipse.jetty" level="info" />
    <logger name="org.apache.felix" level="info" />
    <logger name="org.apache.aries" level="warn" />
    <logger name="org.apache.shiro" level="info" />

    <!-- All jobs file log appender, simpler than real life, use for log tests -->
    <appender name="alljobslog" class="ch.qos.logback.core.FileAppender">
        <file>jobsoutput.log</file>
        <encoder>
            <pattern>
                %message
            </pattern>
        </encoder>
    </appender>

    <logger name="alljobslogger" level="info" additivity="false">
        <appender-ref ref="alljobslog" />
    </logger>

    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
