<div class="row">
    <div class="col-sm-12">
        <div class="card border-light">
            <div class="card-body form-inline" style="padding: 8px;">
                <jqm-toggle ng-data="[['hist', 'ended', 'far fa-check-circle'], ['queues', 'active', 'fas fa-road']]"
                    ng-value="$ctrl.target" value-change="$ctrl.getDataAsync"></jqm-toggle>

                <div class="form-check form-check-inline" ng-show="$ctrl.target === 'hist'">
                    <input id="cbKo" class="form-check-input" type="checkbox" ng-model="$ctrl.ko" ng-change="$ctrl.getDataAsync()">
                    <label class="form-check-label" for="cbKo">KO only</label>
                </div>
                <div class="form-check form-check-inline" ng-show="$ctrl.target === 'queues'">
                    <input id='cbRunning' class="form-check-input" type="checkbox" ng-model="$ctrl.running" ng-change="$ctrl.getDataAsync()">
                    <label class="form-check-label" for="cbRunning">Run. only</label>
                </div>

                <input ng-model="$ctrl.query.applicationName" class="form-control" placeholder="application" type="text"
                    ng-change="$ctrl.getDataAsync()" ng-required="true" style="width: 7em;" data-toggle="popover"
                    data-content="Use % as wildcard" data-trigger="hover" ng-model-options='{debounce: 200}' />
                <input ng-model="$ctrl.query.user" class="form-control" placeholder="user" type="text" ng-change="$ctrl.getDataAsync()"
                    ng-required="true" style="width: 8em;" data-toggle="popover" data-content="Use % as wildcard"
                    data-trigger="hover" ng-model-options='{debounce: 200}' />
                <input ng-model="$ctrl.query.jobInstanceId" class="form-control" placeholder="id" type="integer"
                    ng-change="$ctrl.getDataAsync();" ng-required="true" style="width: 5em;" data-toggle="popover"
                    data-content="Give exact ID" data-trigger="hover" ng-model-options='{debounce: 200}' />
                <input ng-model="$ctrl.query.parentId" class="form-control" placeholder="parent" type="integer"
                    ng-change="$ctrl.getDataAsync();" ng-required="true" style="width: 5em;" data-toggle="popover"
                    data-content="Give exact parent ID" data-trigger="hover" ng-model-options='{debounce: 200}' />
                <input ng-model="$ctrl.query.sessionId" class="form-control" placeholder="session" type="integer"
                    ng-change="$ctrl.getDataAsync();" ng-required="true" style="width: 5em;" data-toggle="popover"
                    data-content="Give exact session ID" data-trigger="hover" ng-model-options='{debounce: 200}' />
                <input ng-model="$ctrl.query.nodeName" class="form-control" placeholder="node name" type="text"
                    ng-change="$ctrl.getDataAsync();" ng-required="true" style="width: 8em;" data-toggle="popover"
                    data-content="Use % as wildcard" data-trigger="hover" ng-model-options='{debounce: 200}' />
                <select ng-cell-input ng-model="$ctrl.query.queueId" class="form-control"
                    ng-options="q.id as q.name for q in $ctrl.queues" ng-change="$ctrl.getDataAsync();" data-toggle="popover"
                    data-content="filter by queue" data-trigger="hover">
                    <option value="">parent id</option>
                </select>

                <jqm-date-picker ng-model="$ctrl.query.enqueuedAfter" ng-change="$ctrl.getDataAsync" ng-title="Created after"></jqm-date-picker>
                <jqm-date-picker ng-model="$ctrl.query.enqueuedBefore" ng-change="$ctrl.getDataAsync" ng-title="Created before"></jqm-date-picker>

                <button class="btn btn-outline-dark btn-sm" ng-click="$ctrl.ko = false; $ctrl.running = false; $ctrl.query = {}; $ctrl.getDataAsync();"
                    data-toggle="popover" data-content="reset all filters to default" data-trigger="hover">
                    Reset
                </button>
            </div>
        </div>


    </div>
</div>
<!-- end of filter row -->

<!-- The result grid placeholder -->
<div ng-if="$ctrl.table" class='row' style="height: calc(100% - 10em);">
    <div class='col-sm-12 fullheight'>
        <div ui-grid='$ctrl.gridOptions' ui-grid-pagination ui-grid-selection ui-grid-resize-columns
            ui-grid-auto-resize style='height: 100%;'></div>
    </div>
</div>
<div ng-if="$ctrl.table" class='row'>
    <div class='col-sm-12'>
        <div class="small">Double-click on a line to get job details, files produced and logs.</div>
    </div>
</div>

<!-- The result image placeholder -->
<div ng-if="$ctrl.image" class='row' style="height: calc(100% - 10em);">
    <jqm-gantt jqm-data="$ctrl.data"></jqm-gantt>
</div>
<div ng-if="$ctrl.image" class='row'>
    <div class='col-sm-12'>
        <div class="small">&nbsp;</div>
    </div>
</div>


<!-- Buttons -->
<div class='row'>
    <div class='col-sm-12'>
        <button class="btn btn-outline-dark" ng-click="$ctrl.getDataAsync()">
            <span class="fas fa-sync-alt"></span> Refresh
        </button>
        <button class="btn btn-outline-dark" ng-click="$ctrl.relaunch()" jqm-permission="job_instance:create"
            ng-disabled="$ctrl.selected.length === 0 || ($ctrl.selected[0].state !== 'ENDED' && $ctrl.selected[0].state !== 'CRASHED' && $ctrl.selected[0].state !== 'KILLED')">
            <span class="fas fa-redo"></span> Relaunch
        </button>
        <button class="btn btn-outline-dark" ng-click="$ctrl.kill()" jqm-permission="job_instance:create" ng-disabled="$ctrl.selected.length === 0 || $ctrl.target === 'hist' || ($ctrl.selected[0].state !== 'RUNNING' && $ctrl.selected[0].state !== 'SUBMITTED' && $ctrl.selected[0].state !== 'SCHEDULED')">
            <span class="fas fa-stop"></span> Kill
        </button>
        <button class="btn btn-outline-dark" ng-click="showNewJi = true" jqm-permission="job_instance:create">
            <span class="fas fa-plus-circle"></span> New launch form
        </button>

        <span ng-hide="$ctrl.selected.length === 0 || $ctrl.target === 'hist' || !($ctrl.selected[0].state === 'SUBMITTED' || $ctrl.selected[0].state === 'HOLDED' || $ctrl.selected[0].state === 'SCHEDULED')">
            <button class="btn btn-outline-dark" ng-click="$ctrl.changeQueue(newqueueid)" jqm-permission="queue_position:create">
                <span class="fas fa-sort-amount-down"></span> Switch to queue
            </button> <select ng-cell-input ng-model="newqueueid" ng-options="q.id as q.name for q in $ctrl.queues"></select>
            <button class="btn btn-outline-dark" ng-click="$ctrl.pause()" jqm-permission="job_instance:create" ng-hide="$ctrl.selected[0].state === 'HOLDED'">
                <span class="fas fa-pause"></span> Pause
            </button>
        </span>
        <button class="btn btn-outline-dark" ng-click="$ctrl.resume()" jqm-permission="job_instance:create" ng-hide="$ctrl.selected.length === 0 || $ctrl.target === 'hist' || $ctrl.selected[0].state !== 'HOLDED'">
            <span class="fas fa-play"></span> Resume
        </button>

        <button class="btn btn-outline-dark float-right" ng-click="$ctrl.toggleImage();" data-toggle="popover"
            data-content="show filtered data as a GANTT chart" data-trigger="hover" ng-show="$ctrl.table">
            <span class="fas fa-sliders-h"></span>
            Chart
        </button>
        <button class="btn btn-outline-dark float-right" ng-click="$ctrl.toggleImage();" data-toggle="popover"
            data-content="show filtered data as a table" data-trigger="hover" ng-show="$ctrl.image">
            <span class="fas fa-table"></span>
            Table
        </button>
    </div>
</div>

<jqm-ji-detail ji="$ctrl.selected[0]" show="$ctrl.showDetails"></jqm-ji-detail>
<jqm-new-ji show="showNewJi" on-launched="$ctrl.onLaunched"></jqm-new-ji>
