<jqm-modal show="$ctrl.show" title="New launch">
    <div class="form-group row">
        <label for="ddJd" class="col-sm-5 col-form-label">Application to launch</label>
        <div class="col-sm-7">
            <jqm-select2 id="ddJd" data="$ctrl.jds" display-key="applicationName" ng-model="$ctrl.selectedJd" placeholder="Enter an application name..."></jqm-select2>
            <small class="form-text text-muted">
                Name of the batch process to launch.
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtUser" class="col-sm-5 col-form-label">Username</label>
        <div class="col-sm-7">
            <input id="txtUser" class="form-control" type="text" ng-model="$ctrl.request.user" />
            <small class="form-text text-muted">
                Name that will appear in the history
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtSessionId" class="col-sm-5 col-form-label">Session ID</label>
        <div class="col-sm-7">
            <input id="txtSessionId" class="form-control" type="text" ng-model="$ctrl.request.sessionID" />
            <small class="form-text text-muted">
                Optional data that will appear in the history
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtState" class="col-sm-5 col-form-label">Start</label>
        <div class="col-sm-7">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stRadio1" value="SUBMITTED" class="custom-control-input" ng-model="$ctrl.request.startState" />
                <label class="custom-control-label" for="stRadio1">Immediate start</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="stRadio2" value="HOLDED" class="custom-control-input" ng-model="$ctrl.request.startState" />
                <label class="custom-control-label" for="stRadio2">Paused until released</label>
            </div>

            <small class="form-text text-muted">
                API has more options: scheduled at a time, recurring...
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtPriority" class="col-sm-5 col-form-label">Priority</label>
        <div class="col-sm-7">
            <input id="txtPriority" class="form-control" type="number" ng-model="$ctrl.request.priority" />
            <small class="form-text text-muted">
                Higher priority job instances run before the others and have a bigger CPU share.
            </small>
        </div>
    </div>

    <div class="form-group row" ng-show="$ctrl.selectedJd.parameters.length > 0">
        <label for="defaultPrmList" class="col-sm-5 col-form-label">Default parameters</label>
        <div class="col-sm-7">
            <div id="defaultPrmList" class="form-row" ng-repeat="p in $ctrl.selectedJd.parameters | orderBy:'key'">
                <div class="col-sm-4">{{ p.key }}</div>
                <div class="col-sm-4">{{ p.value }}</div>
            </div>
            <small class="form-text text-muted">
                Can be overridden below
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="txtUser" class="col-sm-5 col-form-label">{{
            $ctrl.selectedJd.parameters.length > 0 ? "Override or
            new parameters" : "Job instance parameters"
        }}</label>
        <div class="col-sm-7">
            <div class="form-group form-row" ng-repeat="p in $ctrl.request.parameters">
                <div class="col-sm-4">
                    <input id="txtKey" class="form-control" type="text" ng-model="p.key" placeholder="key" />
                </div>
                <div class="col-sm-4">
                    <input id="txtValue" class="form-control" type="text" ng-model="p.value" placeholder="value" />
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-outline-danger" ng-click="$ctrl.removePrm(p)">
                        <span class="fas fa-minus-circle"></span>
                        Remove
                    </button>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <button class="btn btn-outline-success" ng-click="$ctrl.addPrm()" ng-disabled="!$ctrl.canAdd()"><span class="fas fa-plus-circle">&nbsp;</span>Add</button>
                </div>
                <small class="form-text text-muted col-auto m-0">
                    Add additional key/value pairs
                </small>
            </div>
        </div>
    </div>

    <modal-footer>
        <button class="btn btn-outline-dark" ng-click="$ctrl.ok()" ng-disabled="!$ctrl.selectedJd || !$ctrl.request.user || !$ctrl.canAdd()">
            <span class="fas fa-check"></span>
            OK
        </button>
        <button class="btn btn-outline-dark" ng-click="$ctrl.cancel()">
            <span class="fas fa-ban"></span>
            Cancel
        </button>
    </modal-footer>
</jqm-modal>
