<!DOCTYPE html>
<html lang="en" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="
<%= htmlWebpackPlugin.files.manifest %>"
<% } %>>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title || 'Webpack App'%>
    </title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div ng-app="jqmApp" class="container-fluid">
        <tabs></tabs>
        <!--

        <div ng-controller="AlertCtrl" ng-hide="!alert.data.userReadableMessage">
            <div uib-alert ng-class="'alert-danger'" type="danger" close="closeAlert($index)">
                <div class="dl-horizontal">
                    <dt>Error</dt>
                    <dd>{{alert.data.userReadableMessage}}</dd>
                </div>
                <div class="dl-horizontal">
                    <dt>Error code</dt>
                    <dd>{{alert.data.errorCode}}</dd>
                </div>

                <div class="dl-horizontal" uib-collapse="!isCollapsed">
                    <dt></dt>
                    <dd><button class="btn btn-default" ng-click="toggle()">Show advanced error data</button></dd>
                </div>

                <div uib-collapse="isCollapsed">
                    <div class="dl-horizontal">
                        <dt>Detailed message</dt>
                        <dd>{{alert.data.developerMessage}}</dd>
                    </div>
                    <div class="dl-horizontal">
                        <dt>Stacktrace</dt>
                        <dd ng-bind-html="alert.data.stacktrace | j2h"/></dd>
                    </div>
                </div>
            </div>
        </div> -->

        <div ng-view></div>
        <!--  <login-dialog></login-dialog> -->
    </div>

    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>

</body>

</html>
