<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/testdb;sql.syntax_ora=true</property>
    <property name="hibernate.connection.username">SA</property>
    <mapping resource="beans/Job.hbm.xml"/>
    <mapping resource="beans/Queue.hbm.xml"/>
    <mapping resource="beans/JobParameters.hbm.xml"/>
    <mapping resource="beans/Application.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="beans/JobParameter.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
