<div style='padding-right: 12px;'>
    <br/>
  <div class="row">
  
    <div class="col-sm-5 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Status filter</h3>
        </div>
        <div class="panel-body">
          <div class="btn-group ">
            <label class="btn btn-default active" ng-model="target" btn-radio="'hist'" uncheckable><span class="glyphicon glyphicon-off"></span> ended</label>
            <label class="btn btn-default" ng-model="target" btn-radio="'queues'" uncheckable><span class="glyphicon glyphicon-road"></span> active</label>
          </div>
          <label ng-show="target === 'hist'"><input type="checkbox" ng-model="ko"> KO only</label>
        </div>
      </div>
    </div>
    
    <div class="col-sm-7 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Name and ID filters</h3>
        </div>
        <div class="panel-body">
           <input ng-model="query.applicationName" placeholder="application" type="text" ng-change="getDataAsync()" ng-required="true" style="width: 10em;" popover="Use % as wildcard" popover-trigger="mouseenter" />
          <input ng-model="query.user" placeholder="user" type="text" ng-change="getDataAsync()" ng-required="true" style="width: 8em;" popover="Use % as wildcard" popover-trigger="mouseenter" />
          <input ng-model="query.jobInstanceId" placeholder="id" type="text" ng-change="getDataAsync();" ng-required="true" style="width: 4em;" popover="Give exact ID" popover-trigger="mouseenter" />
          <input ng-model="query.parentId" placeholder="parentid" type="text" ng-change="getDataAsync();" ng-required="true" style="width: 4em;" popover="Give exact ID" popover-trigger="mouseenter" />
        </div>
      </div>
    </div>
    
    <div class="visible-sm-block clearfix"></div>
    
    <div class="col-sm-4 col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Queue Filter</h3>
        </div>
        <div class="panel-body">
          <select ng-cell-input ng-model="query.queueId" ng-options="q.id as q.name for q in queues" ng-change="getDataAsync();"></select>
        </div>
      </div>
    </div>
    
    <div class="col-sm-8 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Time Filter</h3>
        </div>
        <div class="panel-body">
          <div class="btn-group">
            <button class="btn btn-default" ng-click="latest(1)"><span class="glyphicon glyphicon-calendar"></span> Last hour</button>
            <button class="btn btn-default" ng-click="latest(24)"><span class="glyphicon glyphicon-calendar"></span> Last day</button>
            <button class="btn btn-default" ng-click="query = {}; getDataAsync();"><span class="glyphicon glyphicon-ban-circle"></span> Reset</button>
          </div>
        </div>
      </div>
    </div>
  
  </div> <!-- end of filter row -->
    
    <div ng-grid='gridOptions' ng-dblclick="showDetail()"></div>
    
    <div class="small">Double-click on a line to get job details, files produced and logs.</div>
    <button class="btn btn-default" ng-click="getDataAsync()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <button class="btn btn-default" ng-click="relaunch()" jqm-permission="job_instance:create" ng-disabled="selected.length === 0 || (selected[0].state !== 'ENDED' && selected[0].state !== 'CRASHED' && selected[0].state !== 'KILLED')"><span class="glyphicon glyphicon-repeat"></span> Relaunch</button>
    <button class="btn btn-default" ng-click="kill()" jqm-permission="job_instance:create" ng-disabled="selected.length === 0 || target === 'hist' || selected[0].state !== 'RUNNING'"><span class="glyphicon glyphicon-stop"></span> Kill</button>
    <button class="btn btn-default" ng-click="newLaunch()" jqm-permission="job_instance:create"><span class="glyphicon glyphicon-plus"></span> New launch form</button>
    
    <span ng-hide="selected.length === 0 || target === 'hist' || selected[0].state !== 'SUBMITTED'">
        <button class="btn btn-default" ng-click="changeQueue(newqueueid)" jqm-permission="queue_position:create"><span class="glyphicon glyphicon-sort-by-order"></span> Switch to queue</button>
        <select ng-cell-input ng-model="newqueueid" ng-options="q.id as q.name for q in queues"></select>
        <button class="btn btn-default" ng-click="pause()" jqm-permission="job_instance:create"><span class="glyphicon glyphicon-pause"></span> Pause</button>
    </span>
    <button class="btn btn-default" ng-click="resume()" jqm-permission="job_instance:create" ng-hide="selected.length === 0 || target === 'hist' || selected[0].state !== 'HOLDED'"><span class="glyphicon glyphicon-play"></span> Resume</button>
</div>

