<div class="container-fluid modal-dialog">
    <div class="row">
        <!--First column-->
        <div class="col-sm-4">
            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Identification</strong></caption>
                <tr>
                    <th>ID</th>
                    <th>{{ji.id}}</th>
                </tr>
                <tr>
                    <td>Parent job</td>
                    <td>{{ji.parent}}</td>
                </tr>
                <tr>
                    <td>Application</td>
                    <td>{{ji.applicationName}}</td>
                </tr>
                <tr>
                    <td>Session ID</td>
                    <td>{{ji.sessionID}}</td>
            </table>

            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Parameters</strong></caption>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="p in ji.parameters  | orderBy:'key'">
                    <td>{{p.key}}</td>
                    <td>{{p.value}}</td>
                </tr>
            </table>
            
            <table class='table table-condensed table-striped table-hover' ng-hide="ji.state === 'CANCELLED'">
                <caption><strong>Log files</strong></caption>
                <tr><td>Log stdout: <a ng-click='showlog("./ws/client/ji/" + ji.id + "/stdout")'>view</a> - <a href='{{ "./ws/client/ji/" + ji.id + "/stdout"}}'>download</a></td></tr>
                <tr><td>Log stderr: <a ng-click='showlog("./ws/client/ji/" + ji.id + "/stderr")'>view</a> - <a  href='{{ "./ws/client/ji/" + ji.id + "/stderr"}}'>download</a></td></tr>
            </table>

        </div>
        
        <!--Second column-->
        <div class="col-sm-4">
            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Queue</strong></caption>
                <tr><td>Name</td><td>{{ji.queueName}}</td></tr>
                <tr><td>Position</td><td>{{ji.position}}</td></tr>
                <tr><td>Affected to server</td><td>{{ji.nodeName}}</td></tr>
            </table>

            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>User messages</strong></caption>
                <tr ng-repeat="m in ji.messages"><td>{{m}}</td></tr>
            </table>
            
           <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Files created</strong></caption>
                <tr ng-repeat="d in dels">
                    <td>ID</td>
                    <td>{{d.id}}</td>
                    <td><a href="{{'./ws/client/ji/files/' + d.id}}">{{d.fileFamily}}</a></td>
            </table>
        </div>
        
        <!--Third column-->
        <div class="col-sm-4">
        
            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Progress</strong></caption>
                <tr><td>Status</td><td>{{ji.state}}</td></tr>
                <tr><td>Progress%</td><td>{{ji.progress}}</td></tr>
                <tr><td>Enqueue time</td><td>{{ji.enqueueDate | date : "dd/MM HH:mm:ss"}}</td></tr>
                <tr><td>Start time</td><td>{{ji.beganRunningDate | date : "dd/MM HH:mm:ss"}}</td></tr>
                <tr><td>End time</td><td>{{ji.endDate | date : "dd/MM HH:mm:ss"}}</td></tr>
            </table>

            <table class='table table-condensed table-striped table-hover'>
                <caption><strong>Optional flags</strong></caption>
                    <tr><td>Software</td><td>{{ji.application}}</div>
                    </div>
                    <div class='row'>
                        <tr><td>Keyword 1</td><td>{{ji.keyword1}}</td></tr>
                        <tr><td>Keyword 2</td><td>{{ji.keyword2}}</td></tr>
                        <tr><td>Keyword 3</td><td>{{ji.keyword3}}</td></tr>
                        <tr><td>Module</td><td>{{ji.module}}</td></tr>
                        <tr><td>User</td><td>{{ji.user}}</td></tr>
                        <tr><td>User e-mail</td><td>{{ji.email}}</td></tr>
            </table>
        
        </div>
</div>