<div class="container-fluid" style="height: 100%; padding-left: 0px; padding-right: 0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" style="margin-top: 5px;">
                <div class="panel-body" style="padding: 8px;">

                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="btn-group ">
                                <label class="btn btn-default active" ng-model="target" uib-btn-radio="'hist'" uncheckable>
                                    <span class="glyphicon glyphicon-off"></span> ended
                                </label>
                                <label class="btn btn-default" ng-model="target" uib-btn-radio="'queues'" uncheckable>
                                    <span class="glyphicon glyphicon-road"></span> active
                                </label>
                            </div>
                            <label ng-show="target === 'hist'">
                                <input type="checkbox" ng-model="ko">
                                KO only
                            </label>
                            <label ng-show="target === 'queues'">
                                <input type="checkbox" ng-model="running">
                                Runn. only
                            </label>
                            <input ng-model="query.applicationName" placeholder="application" type="text"
                                ng-change="getDataAsync()" ng-required="true" style="width: 10em;" popover="Use % as wildcard"
                                popover-trigger="mouseenter" ng-model-options='{debounce: 200}' />
                            <input ng-model="query.user" placeholder="user" type="text" ng-change="getDataAsync()"
                                ng-required="true" style="width: 8em;" popover="Use % as wildcard" popover-trigger="mouseenter"
                                ng-model-options='{debounce: 200}' />
                            <input ng-model="query.jobInstanceId" placeholder="id" type="text" ng-change="getDataAsync();"
                                ng-required="true" style="width: 5em;" popover="Give exact ID" popover-trigger="mouseenter"
                                ng-model-options='{debounce: 200}' />
                            <input ng-model="query.parentId" placeholder="parent id" type="text" ng-change="getDataAsync();"
                                ng-required="true" style="width: 5em;" popover="Give exact ID" popover-trigger="mouseenter"
                                ng-model-options='{debounce: 200}' />
                            <input ng-model="query.nodeName" placeholder="node name" type="text" ng-change="getDataAsync();"
                                ng-required="true" style="width: 8em;" popover="Use % as wildcard" popover-trigger="mouseenter"
                                ng-model-options='{debounce: 200}' />
                            <select ng-cell-input ng-model="query.queueId" placeholder="parent id"
                                ng-options="q.id as q.name for q in queues" ng-change="getDataAsync();" popover="filter by queue"
                                popover-trigger="mouseenter"></select>
                            <div ng-show='filterDate' style="display: inline;">
                                From <span>{{datemin | epoch2date | date:'dd/MM HH:mm'}}</span> to <span
                                    ng-show="datemax!==daterangemax">{{datemax | epoch2date | date:'dd/MM HH:mm'}}</span> <span
                                    ng-show="datemax===daterangemax">now</span>
                            </div>
                            <button ng-show='!filterDate' class="btn btn-default" ng-click="filterDate=!filterDate;"
                                popover="displays the dat filters" popover-trigger="mouseenter">
                                <span class="glyphicon glyphicon-time"></span> Show time filters
                            </button>
                            <button class="btn btn-default" ng-click="filterDate = false; query = {}; getDataAsync();"
                                popover="reset all filters to default" popover-trigger="mouseenter">
                                <span class="glyphicon glyphicon-ban-circle"></span> Reset
                            </button>
                        </div>
                    </div>

                    <div ng-show='filterDate' class='row' style="padding-top: 2px;">
                        <div class=col-sm-3>
                            Full time slider bar is last
                            <div class="btn-group ">
                                <label style="padding: 0px; padding-left: 1px; padding-right: 1px;" class="btn btn-default active"
                                    ng-model="scale" uib-btn-radio="86400000" uncheckable>day</label>
                                <label style="padding: 0px; padding-left: 1px; padding-right: 1px;" class="btn btn-default"
                                    ng-model="scale" uib-btn-radio="604800000" uncheckable>week</label>
                                <label style="padding: 0px; padding-left: 1px; padding-right: 1px;" class="btn btn-default"
                                    ng-model="scale" uib-btn-radio="2678400000" uncheckable>month</label>
                                <label style="padding: 0px; padding-left: 1px; padding-right: 1px;" class="btn btn-default"
                                    ng-model="scale" uib-btn-radio="31622400000" uncheckable>year</label>
                            </div>
                        </div>

                        <div class='col-sm-9'>
                            <div range-slider min="daterangemin" max="daterangemax" model-min="datemin" model-max="datemax"
                                prevent-equal-min-max="true" step="step" attach-handle-values="false" show-values="false"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end of filter row -->

    <!-- The result grid placeholder -->
    <div style="height: calc(100% - 150px);">
    	<div ui-grid='gridOptions'  ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize style='height: 100%;'></div>
    </div>
    <div class="small">Double-click on a line to get job details, files produced and logs.</div>

    <!-- Buttons -->
    <div class='row'>
        <div class='col-sm-12'>
            <button class="btn btn-default" ng-click="getDataAsync()">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
            <button class="btn btn-default" ng-click="relaunch()" jqm-permission="job_instance:create"
                ng-disabled="selected.length === 0 || (selected[0].state !== 'ENDED' && selected[0].state !== 'CRASHED' && selected[0].state !== 'KILLED')">
                <span class="glyphicon glyphicon-repeat"></span> Relaunch
            </button>
            <button class="btn btn-default" ng-click="kill()" jqm-permission="job_instance:create"
                ng-disabled="selected.length === 0 || target === 'hist' || (selected[0].state !== 'RUNNING' && selected[0].state !== 'SUBMITTED')">
                <span class="glyphicon glyphicon-stop"></span> Kill
            </button>
            <button class="btn btn-default" ng-click="newLaunch()" jqm-permission="job_instance:create">
                <span class="glyphicon glyphicon-plus"></span> New launch form
            </button>

            <span ng-hide="selected.length === 0 || target === 'hist' || selected[0].state !== 'SUBMITTED'">
                <button class="btn btn-default" ng-click="changeQueue(newqueueid)" jqm-permission="queue_position:create">
                    <span class="glyphicon glyphicon-sort-by-order"></span> Switch to queue
                </button> <select ng-cell-input ng-model="newqueueid" ng-options="q.id as q.name for q in queues"></select>
                <button class="btn btn-default" ng-click="pause()" jqm-permission="job_instance:create">
                    <span class="glyphicon glyphicon-pause"></span> Pause
                </button>
            </span>
            <button class="btn btn-default" ng-click="resume()" jqm-permission="job_instance:create"
                ng-hide="selected.length === 0 || target === 'hist' || selected[0].state !== 'HOLDED'">
                <span class="glyphicon glyphicon-play"></span> Resume
            </button>
        </div>
    </div>
</div>