<div>
    <h2 class="bs-docs-header">Welcome to the JQM ${project.version} administration web console</h2>
    <div>
        You may not see them, but this console has <strong>tabs</strong>. To enable them, you must be logged-in with the button below.
    </div>
    <button class="btn btn-default" ng-click="login()">Login</button>
    <div>
        <br/>
        <div>On each tab, click the <span ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-question-sign"></span> icon for contextual help.</div>
        Further reference can be found in the <a href="http://jqm.readthedocs.org/en/jqm-all-${project.version}">full online documentation <span class="glyphicon glyphicon-book"></span></a> for version ${project.version}.
    </div>
</div>