<div>
    <h5>
        <span class="glyphicon glyphicon-question-sign" ng-click="isCollapsed = !isCollapsed"></span> A Job Definition is made of all the metadata
        required to launch a payload: path to the jar file, class to launch, etc.
    </h5>
    <div collapse="!isCollapsed">
        <div class="well well-lg">
            <h5>On this page, one may change the characteristics of Job Definitions. Changes on this page do not require any node reboot.
                Changing the payload jars on the server does not require reboots either.</h5>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>The name of the job definition. This name is very important, as it is the key used to designate the JD in the different APIs
                    (for example, when submitting an execution request, one will specify by name the batch job to run). However, it can still be
                    changed - internally, JQM uses an ID, not this name - the impact is only on the clients' side.</dd>
                <dt>Description</dt>
                <dd>A free text description that appears in reports.</dd>
                <dt>Class to launch</dt>
                <dd>The fully qualified name of the class to run. (it must either have a main function, or implement Runnable, or inherit from
                    JobBase).</dd>
                <dt>Path to the jar</dt>
                <dd>The relative path to the jar containing the class to run. It is relative to the "directory containing jars" parameter of the
                    different nodes</dd>
                <dt>R</dt>
                <dd>Whether it is restartable or not</dd>
                <dt>H</dt>
                <dd>Tick for Highlander mode. In this mode, there can never be more than one instance of the Job Definition running at the same
                    time, as well as no more than one waiting in any queue.</dd>
                <dt>Queue</dt>
                <dd>The queue which will be used when submitting execution requests (if no specific queue is given at request time)</dd>
                <dt>Other fields</dt>
                <dd>These fields are merely tags that can be used for many uses. They are not used by the engine itself.</dd>
            </dl>
        </div>
    </div>

    <div class='gridClass' ng-grid='gridOptions' style='width: 100%;'></div>
    <button class="btn btn-default" ng-click="newitem()" jqm-permission="jd:create">New definition</button>
    <button class="btn btn-default" ng-click="remove()" ng-disabled="selected.length === 0" jqm-permission="jd:delete">Delete selected</button>
    <button class="btn btn-default" ng-click="prms()" ng-disabled="selected.length !== 1">Default parameters</button>
    <button class="btn btn-default" ng-click="refresh()">Refresh</button>
    <button class="btn btn-default" ng-click="save()" jqm-permission="jd:create">Save definitions</button>
</div>

