<table>
    <h5>
        <span class="glyphicon glyphicon-question-sign" ng-click="isCollapsed = !isCollapsed"></span> Resources are Java objects that can be requested
        by jobs through a JNDI lookup and created by the engine.
    </h5>
    <div collapse="!isCollapsed">
        <div class="well well-lg">
            <h5>
                On this page, one may create or change resources. Creating a new resource does not require any reboot. Altering an already used <strong>singleton</strong>
                resource does require rebooting the nodes using it, as singleton resources are cached. Altering a non-singleton resource does not
                require reboots.
            </h5>
            <dl class="dl-horizontal">
                <dt>JNDI alias</dt>
                <dd>The name that will be used by payloads during resource lookup.</dd>
                <dt>Type</dt>
                <dd>The fully qualified name of the resource class. E.g. java.io.File.File</dd>
                <dt>Factory</dt>
                <dd>The fully qualified name of the resource factory class. E.g. com.enioka.jqm.providers.FileFactory</dd>
                <dt>Description</dt>
                <dd>Free text to remember what the resource is for.</dd>
                <dt>S</dt>
                <dd>Tick for singleton resource. Differing from standard JNDI resource, a lookup on a singleton resource will always return the
                    same instance (standard JNDI is: an instance is created on each lookup). This is most helpful for connection pools, for which it
                    is stupid to create a new instance on each call...</dd>
            </dl>
            <h5>Please note that for a non-singleton resource, its class and factory class must be accessible to the payload: either in
                JQM_ROOT/ext or inside the payload's own dependencies. For a singleton resource, the classes must be inside ext (as they must be
                available to the engine itself, not only to the payload).</h5>
        </div>
    </div>
    <tr>
        <td style="width: 1px;">
            <div class='gridClass' style="width: 65em;" ng-grid='gridOptions'></div>
        </td>
        <td ng-show="selected.length !== 0">
            <div class='gridClass' style="width: 35em; margin-left: 10px;" ng-grid='gridOptions2'></div>
        </td>
    </tr>
    <tr>
        <td>
        <br/>
        
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Database <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="neworaclepool()">New Oracle Pool</a></li>
                <li><a ng-click="newmysqlpool()">New MySQL Pool</a></li>
                <li><a ng-click="newpspool()">New PostgreSQL Pool</a></li>
                <li><a ng-click="newhsqldbpool()">New HSQLDB Pool</a></li>
                <li><a ng-click="newotherpool()">New JDBC Pool (other databases)</a></li>
              </ul>
          </div>
          
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Message QCF <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="newmqqcf()">New MQSeries QCF</a></li>
                <li><a ng-click="newmqq()">New MQSeries Q</a></li>
                <li><a ng-click="newamqqcf()">New AMQ QCF</a></li>
                <li><a ng-click="newamqq()">New AMQ Q</a></li>
              </ul>
          </div>
          
          <button class="btn btn-default" ng-click="newfile()">New File</button>
          <button class="btn btn-default" ng-click="newurl()">New URL</button>
          <button class="btn btn-default" ng-click="newgeneric()">New generic resource</button>

        </td>
        <td ng-show="selected.length !== 0" style="vertical-align: top;">
            <div>
                <button ng-click="addprm()">Add new parameter</button>
                <button ng-click="removeprms()" ng-show="selected2.length !== 0">Remove selected parameters</button>
            </div>
            <div>
                <button ng-click="savealias()" ng-show="selected.length !== 0">
                    Save selected alias <span style="color: green;" class="glyphicon glyphicon-ok">
                </button>
                <button ng-click="removealias()" ng-show="selected.length !== 0">
                    Remove selected alias <span style="color: red;" class="glyphicon glyphicon-remove">
                </button>
            </div>
        </td>
    </tr>
</table>