<div clas="row">
  <div class="col-md-12">
    <h5>
        <span ng-click="isCollapsed = !isCollapsed"><span popover="Click to display help" popover-trigger="mouseenter" popover-placement="right" class="glyphicon glyphicon-question-sign"></span></span>
    </h5>
    <div uib-collapse="!isCollapsed">
        <div class="well well-lg">
          <h4>Resources are Java objects that can be requested by jobs through a JNDI lookup.</h4>

            <h5>
                On this page, one may create or change resources. Creating a new resource does not require any reboot. Altering an already used <strong>singleton</strong>
                resource does require rebooting the nodes using it, as singleton resources are cached. Altering a non-singleton resource does not
                require any reboot.
            </h5>
            <dl class="dl-horizontal">
                <dt>JNDI alias</dt>
                <dd>The name that will be used by payloads during resource lookup.</dd>
                <dt>Type</dt>
                <dd>The fully qualified name of the resource class. E.g. java.io.File.File</dd>
                <dt>Factory</dt>
                <dd>The fully qualified name of the resource factory class. E.g. com.enioka.jqm.providers.FileFactory</dd>
                <dt>Description</dt>
                <dd>Free text to remember what the resource is for.</dd>
                <dt>S</dt>
                <dd>Tick for singleton resource. Differing from standard JNDI resource, a lookup on a singleton resource will always return the
                    same instance (standard JNDI is: a new instance is created on each lookup). This is most helpful for connection pools, for which it
                    is stupid to create a new instance on each call...</dd>
            </dl>
            <h5>Please note that for a non-singleton resource, its class and factory class must be accessible to the payload: either in
                JQM_ROOT/ext or inside the payload's own dependencies. For a singleton resource, the classes must be inside ext (as they must be
                available to the engine itself, not only to the payload).</h5>
        </div>
    </div>

  </div>
</div>

<div clas="row">
        <div class="col-md-8">
            <div ui-grid='gridOptions' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize></div>
            <br/>
        
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Database Pools <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="neworaclepool()">New Oracle Pool</a></li>
                  <li><a ng-click="newmysqlpool()">New MySQL Pool</a></li>
                  <li><a ng-click="newpspool()">New PostgreSQL Pool</a></li>
                  <li><a ng-click="newhsqldbpool()">New HSQLDB Pool</a></li>
                  <li><a ng-click="newotherpool()">New JDBC Pool (other databases)</a></li>
                </ul>
            </div>
            
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-transfer"></span> Messages Q & QCF  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="newmqqcf()">New MQSeries QCF</a></li>
                  <li><a ng-click="newmqq()">New MQSeries Q</a></li>
                  <li><a ng-click="newamqqcf()">New AMQ QCF</a></li>
                  <li><a ng-click="newamqq()">New AMQ Q</a></li>
                </ul>
            </div>
            
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-file"></span> Locators  <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="newfile()">New File</a></li>
                  <li><a ng-click="newurl()">New URL</a></li>
                  <li><a ng-click="newstring()">New String</a></li>
                </ul>
            </div>
            
            <button class="btn btn-default" ng-click="newmail()"><span class="glyphicon glyphicon-envelope"></span> New SMTP server</button>
            <button class="btn btn-default" ng-click="newgeneric()"><span class="glyphicon glyphicon-cog"></span> New generic resource</button>
            
            <br/><br/>
            <button class="btn btn-default" ng-click="savealias()" ng-show="selected.length !== 0"><span class="glyphicon glyphicon-floppy-save"></span> Save selected alias</button>
            <button class="btn btn-default"  ng-click="removealias()" ng-show="selected.length !== 0"><span class="glyphicon glyphicon-remove"></span> Remove selected alias</button>


        </div>
            
        <div class="col-md-4">
            <div ui-grid='gridOptions2' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize></div>
            <div>
              <br/>
              <button class="btn btn-default" ng-click="addprm()"><span class="glyphicon glyphicon-plus"></span> Add new parameter</button>
              <button class="btn btn-default" ng-click="removeprms()" ng-show="selected2.length !== 0"><span class="glyphicon glyphicon-remove"></span> Remove selected</button>
            </div>
        </div>
</div>
<div class="clearfix"></div>

        
