<h5>
    <span ng-click="isCollapsed = !isCollapsed"><span popover="Click to display help" popover-trigger="mouseenter" popover-placement="right" class="glyphicon glyphicon-question-sign"></span></span>
    <input type="text" ng-model="filterValue" ng-change="gridApi.grid.refresh()" style="position:absolute; right: 5px;" />
</h5>
<div uib-collapse="!isCollapsed">
    <div class="well well-lg">
          <h4>Mappings specify which nodes will poll which queues. They are basically nodes subscribing to queues.</h4>
        <h5>On this page, one may associate nodes with queues. Running nodes will (by default) check every minute if there are changes in their mappings.</h5>
        <dl class="dl-horizontal">
            <dt>Node</dt>
            <dd>The node which will poll the queue</dd>
            <dt>Queue</dt>
            <dd>The queue to poll</dd>
            <dt>Polling interval</dt>
            <dd>The polling interval, in milliseconds. Never go below one second. If updated on an active engine, it is applied to the next loop (not the current one).</dd>
            <dt>Max concurrent</dt>
            <dd>The maximum number of parallel executions the node will allow for this queue (this translates directly as a max number of
                threads inside the engine).</dd>
        </dl>
    </div>
</div>

<div style="height: calc(100% - 110px);">
	<div ui-grid='gridOptions' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize style='height: 100%;'></div>
</div>

<br/>
<button class="btn btn-default" ng-click="newmapping()" ng-disabled="bDbBusy" jqm-permission="qmapping:create"><span class="glyphicon glyphicon-plus"></span> New mapping</button>
<button class="btn btn-default" ng-click="save()" ng-disabled="bDbBusy" jqm-permission="qmapping:create" ng-hide="error"><span class="glyphicon glyphicon-floppy-save"></span> Save mappings</button>
<button class="btn btn-default" ng-click="refresh()" ng-disabled="bDbBusy" jqm-permission="qmapping:read"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
<button class="btn btn-default" ng-click="remove()" ng-disabled="bDbBusy || selected.length === 0" jqm-permission="qmapping:delete"><span class="glyphicon glyphicon-remove"></span> Delete selected</button>
