<div class="container-fluid modal-dialog">
    <div class="form-horizontal modal-body" style="max-width: 750px;">
        <div class="form-group">
            <label for="ddJd" class="col-sm-5 control-label">Application to launch</label>
            <div class="col-sm-7">
                <ui-select id="ddJd" theme='bootstrap' ng-model="$parent.selectedJd" ng-disabled="disabled">
                   
                   <ui-select-match placeholder="Enter an application name...">{{$select.selected.applicationName}}</ui-select-match>
                
	               <ui-select-choices repeat="item in jds | filter: $select.search">
                        <div ng-bind-html="item.applicationName | highlight: $select.search"></div>
                   </ui-select-choices>
                    
                </ui-select>
                <span class="help-block">Name of the batch process to launch.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtUser" class="col-sm-5 control-label">Username</label>
            <div class="col-sm-7">
                <input id="txtUser" class="form-control" type="text" ng-model="request.user" /> <span class="help-block">Name that will appear
                    in the history</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtUser" class="col-sm-5 control-label">Session ID</label>
            <div class="col-sm-7">
                <input id="txtUser" class="form-control" type="text" ng-model="request.sessionID" /> <span class="help-block">Optional data
                    that will appear in the history</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtUser" class="col-sm-5 control-label">Default parameters</label>
            <div class="col-sm-7">
                <div ng-repeat="p in selectedJd.parameters | orderBy:'key'">
                    <div class="col-xs-6">{{p.key}}</div>
                    <div class="col-xs-6">{{p.value}}</div>
                </div>
                <span class="help-block">Can be overridden below</span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtUser" class="col-sm-5 control-label">Override or new parameters</label>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-xs-4">
                        <input id="txtKey" class="form-control" type="text" ng-model="data.newKey" />
                    </div>
                    <div class="col-xs-4">
                        <input id="txtValue" class="form-control" type="text" ng-model="data.newValue" />
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-default" ng-click="addPrm()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                    </div>
                </div>
                <span class="help-block">Enter here additional key/values pairs</span>
            </div>
        </div>

        <div class="form-group">
            <label for="txtUser" class="col-sm-5 control-label"></label>
            <div class="col-sm-7">
                <div ng-repeat="p in request.parameters | orderBy:'key'" class="row">
                    <div class="col-xs-6">{{p.key}}</div>
                    <div class="col-xs-6">{{p.value}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()" ng-disabled="!selectedJd || !request.user"><span class="glyphicon glyphicon-ok"></span> OK</button>
        <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
</div>