<div>
    <ng-include src="'template/error_detail.html'"></ng-include>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{node.name}}</dd>
        <dt>Listens on interface:</dt>
        <dd>{{node.dns}}</dd>
        <dt>HTTP port:</dt>
        <dd>{{node.port}}</dd>
        <dt>Output file directory:</dt>
        <dd>{{node.outputDirectory}}</dd>
        <dt>Job repository directory:</dt>
        <dd>{{node.jobRepoDirectory}}</dd>
        <dt>Log level:</dt>
        <dd>{{node.rootLogLevel}}</dd>
        <dt>Last seen alive:</dt>
        <dd>{{node.lastSeenAlive}}</dd>
        <dt>JMX registry TCP port:</dt>
        <dd>{{node.jmxRegistryPort}}</dd>
        <dt>JMX server TCP port:</dt>
        <dd>{{node.jmxServerPort}}</dd>
    </dl>
</div>