<div>


    <h5>
        <span ng-click="isCollapsed = !isCollapsed"><span popover="Click to display help" popover-trigger="mouseenter" popover-placement="right" class="glyphicon glyphicon-question-sign"></span></span>
        <input type="text" ng-model="filterValue" ng-change="gridApi.grid.refresh()" style="position:absolute; right: 5px;" />
    </h5>

    <div uib-collapse="!isCollapsed">
        <div class="well well-lg">
            <h4>Nodes are instances of the JQM engine that actually run batch job instances. Basically, they are Unix init.d entries or Windows services.</h4>
            <h5>
                On this page, one may change the characteristics of nodes. 
                <br/>
                Nodes can only be created through the command line <code>jqm.(sh|ps1) createnode [ nodename ]</code>. Only nodes switched off for more than 10 minutes can be removed.<br/>
                Changing fields marked with <strong>*</strong> while the node is running requires the node to be restarted for the change to be taken into account.
                Changes to other fields are automatically applied asynchronously (default is at most after one minute).
            </h5>
            
            <dl class="dl-horizontal">
                <dt>* Name</dt>
                <dd>The name of the node inside the JQM cluster. It has no link whatsoever to hostname, DNS names and whatnot. It is simply the
                    name given as a parameter to the node when starting. It is unique throughout the cluster. Default is server hostname in Windows,
                    user name in Unix.</dd>
                <dt>DNS to bind to</dt>
                <dd>The web APIs will bind on all interfaces that answer to a reverse DNS call of this name. Default is localhost, i.e.
                    local-only binding.</dd>
                <dt>HTTP port</dt>
                <dd>The web APIs will bind on this port. Default is a random free port.</dd>
                <dt>* File produced storage</dt>
                <dd>Should batch jobs produce files, they would be stored in sub-directories of this directory. Absolute path strongly
                    recommended, relative path are relative to JQM install directory.</dd>
                <dt>* Jar directory</dt>
                <dd>The root directory containing all the jobs (payload jars). Absolute path strongly recommended, relative path are relative to
                    JQM install directory.</dd>
                <dt>Log level</dt>
                <dd>Verbosity of the main log file. Valid values are TRACE, DEBUG, INFO, WARN, ERROR, FATAL. See full documentation for the
                    signification of these levels. In case of erroneous value, default value INFO is assumed.</dd>
                <dt>* JMX registry TCP port</dt>
                <dd>If 0, remote JMX is disabled. Default is 0.</dd>
                <dt>* JMX server TCP port</dt>
                <dd>If 0, remote JMX is disabled. Default is 0.</dd>
                <dt>* JMX server TCP port</dt>
                <dd>If 0, remote JMX is disabled. Default is 0.</dd>
                <dt>Simple API</dt>
                <dd>It ticked, the simple web API will start. This API governs script interactions (execution request through wget & co, etc.)
                    and file retrieval (logs, files created by batch jobs executions)</dd>
                <dt>Client API</dt>
                <dd>It ticked, the client web API will start. This API exposes the full JqmClient API - see full documentation.</dd>
                <dt>Admin API</dt>
                <dd>It ticked, the administration web API will start. This API is only used by this web administration console and is an internal
                    JQM API, not a public one. Disabling it disables this web console.</dd>
                <h5>Disabling the three web APIs will fully disable the internal web server of a node, which in turn is a huge memory gain. But please note that the simple API is fundamental to file operations.</h5>
                <h5>Node colour green means the node has reported it was running to the database less than parameter 'internalPollingPeriodMs' ago. Results may be delayed by up to 60s (due to the cache of the web service).</h5>
            </dl>
        </div>
    </div>

    <div ui-grid='gridOptions' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize style='height: 100%;'></div>
    <br/>
    <button class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <button class="btn btn-default" ng-click="stop()" jqm-permission="node:create" ng-disabled="selected.length === 0"><span class="glyphicon glyphicon-minus-sign"></span> Send stop order</button>
    <button class="btn btn-default" ng-click="save()" jqm-permission="node:create"><span class="glyphicon glyphicon-floppy-save"></span> Save nodes</button>
    <button class="btn btn-default" ng-click="remove()" ng-disabled="selected.length === 0" jqm-permission="jd:delete"><span class="glyphicon glyphicon-remove"></span> Delete selected</button>
</div>

