<div>


    <h5>
        Nodes can only be created through the command line
        <code>jqm.sh createnode [ nodename ]</code>
    </h5>
    <h5>Node detail can be consulted by clicking on tjhe node name. Nodes switched off for more than 10 minutes can also be removed.</h5>
    <h5>The list of existing nodes is:</h5>
    Search: <input ng-model="query" />
    <div>
        <div ng-repeat="node in nodes  | filter:query | orderBy:'name'">
            <a href="#/node/{{node.id}}"> {{node.name}}</a>
        </div>
    </div>

</div>

