<helpblock content="$ctrl.helpcontent"></helpblock>

<div class="row">
    <div class="col-md-8">
        <div ui-grid='$ctrl.gridOptions' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns
            ui-grid-auto-resize></div>
        <br />

        <div class="btn-group" role="group">
            <button id='bntDb' type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-database"></span>
                Database Pools
            </button>
            <div class="dropdown-menu" aria-labelledby="btnDb">
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiOracle')">New Oracle Pool</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiMySql')">New MySQL Pool</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiPs')">New PostgreSQL Pool</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiHsqlDb')">New HSQLDB Pool</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiOtherDb')">New JDBC Pool (other databases)</div>
            </div>
        </div>

        <div class="btn-group" role="group">
            <button id="btnQ" type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-exchange-alt"></span>
                Messages Q & QCF
            </button>
            <div class="dropdown-menu" aria-labelledby="btnQ">
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiMqQcf')">New MQSeries QCF</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiMqQ')">New MQSeries Q</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiAmqQcf')">New AMQ QCF</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiAmqQ')">New AMQ Q</div>
            </div>
        </div>

        <div class="btn-group" role="group">
            <button id='btnLoc' type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                <span class="fas fa-file"></span>
                Locators
            </button>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiFile')">New File</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiUrl')">New URL</div>
                <div class="dropdown-item" ng-click="$ctrl.newResource('jndiString')">New String</div>
            </div>
        </div>

        <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.newResource('jndiMail')">
            <span class="fas fa-envelope"></span>
            New SMTP server
        </button>
        <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.newResource('jndiGeneric')">
            <span class="fas fa-cog"></span>
            New generic resource
        </button>

        <br />
        <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.savealias()" ng-disabled="$ctrl.selected.length === 0">
            <span class="far fa-save"></span>
            Save selected alias
        </button>
        <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.removealias()" ng-disabled="$ctrl.selected.length === 0">
            <span class="far fa-trash-alt"></span>
            Remove selected alias
        </button>
        <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.refresh()">
            <span class="fas fa-sync-alt"></span>
            Cancel changes
        </button>
    </div>

    <div class="col-md-4">
        <div ui-grid='$ctrl.gridOptions2' ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-resize-columns
            ui-grid-auto-resize></div>
        <div>
            <br />
            <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.addprm()" ng-disabled="$ctrl.selected.length === 0">
                <span class="fas fa-plus-circle"></span>
                Add new parameter
            </button>
            <button type="button" class="btn btn-outline-dark" ng-click="$ctrl.removeprms()" ng-disabled="$ctrl.selected2.length === 0">
                <span class="far fa-trash-alt"></span>
                Remove selected
            </button>
        </div>
    </div>
</div>