<configuration>
    <!-- A console appender -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{dd/MM.HH:mm:ss.SSS}|%-5level|%-70.70thread|%35.35logger{1}|%exception%message%n
            </pattern>
        </encoder>
    </appender>

    <!-- Main node file log appender -->
    <appender name="rollingfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/jqm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/jqm.log/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>
                %date{dd/MM.HH:mm:ss.SSS}|%-5level|%-40.40thread|%30.30logger{1}|%exception%message%n
            </pattern>
        </encoder>
    </appender>

    <!-- All jobs file log appender -->
    <appender name="alljobslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/jobsoutput.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/jobsoutput.log/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>
                %message
            </pattern>
        </encoder>
    </appender>


    <logger name="hsqldb" level="warn" />
    <logger name="com.enioka.jqm" level="info" />
    <logger name="org.apache.commons.beanutils" level="info" />
    <logger name="org.eclipse.jetty" level="warn" />
    <logger name="org.apache.felix" level="info" />
    <logger name="org.apache.aries" level="warn" />
    <logger name="org.apache.shiro" level="info" />

    <logger name="alljobslogger" level="info" additivity="false">
        <appender-ref ref="alljobslog" />
    </logger>


    <root level="info">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="rollingfile" />
    </root>
</configuration>
