@CHARSET "UTF-8";

html,body {
	height: 100%;
}

.nav,.pagination,.carousel,.panel-title a {
	cursor: pointer;
}

.gridClass {
	border: 1px solid rgb(212, 212, 212);
	width: 900px;
	height: 540px;
}

.form-horizontal .control-group,.form-horizontal .form-group {
	margin-bottom: 1px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 30px;
}

#footer {
	background-color: #f5f5f5;
}


/* Enlarge modal width */
.modal-dialog {
    width: 100%;
    max-width: 1200px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
