<configuration>
    <!-- A console appender -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{dd/MM.HH:mm:ss.SSS}|%-5level|%-70.70thread|%35.35logger{1}|%exception%message%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.enioka.jqm.configservices" level="warn" />
    <logger name="com.enioka.jqm.test.helpers" level="warn" />
    <logger name="com.enioka.jqm.jdbc" level="info" />
    <logger name="org.ops4j.pax" level="info" />
    <logger name="org.eclipse.jetty" level="info" />
    <logger name="org.apache.felix" level="info" />
    <logger name="org.apache.aries" level="warn" />
    <logger name="org.apache.cxf" level="warn" />
    <logger name="org.apache.shiro" level="info" />

    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
