<div>
    <span>Application: </span><input ng-model="query.applicationName" ng-change="getDataAsync()" ng-required="true" /> <span>User: </span><input
        ng-model="query.user" ng-change="getDataAsync()" ng-required="true"
    /><span>ID: </span><input ng-model="query.jobInstanceId" ng-change="getDataAsync();" ng-required="true" /> <span>Parent ID: </span><input
        ng-model="query.parentId" ng-change="getDataAsync();" ng-required="true"
    /><span>Queue: </span>
    <select ng-cell-input ng-model="query.queueId" ng-options="q.id as q.name for q in queues" ng-change="getDataAsync();"></select>
    <button class="btn btn-default" ng-click="latest(1)">Enqueued last hour</button>
    <button class="btn btn-default" ng-click="latest(24)">Enqueued last day</button>
    <button class="btn btn-default" ng-click="query = {}; getDataAsync();">Reset filters</button>

    <div class='gridClass' ng-grid='gridOptions' style="width: 100%;" ng-dblclick="showDetail()"></div>

    <div class="small">Double-click on a line to get job details, files produced and logs</div>
</div>

