<div>
    <h2 class="bs-docs-header">Welcome to JQM administration web console</h2>
    <div>
        You may not see them, but this console has <strong>tabs</strong>. To see them, you must be logged-in.
    </div>
    <div>This page actually exists solely to avoid hitting the database for every passer-by. If you are a legitimate user, feel free to bookmark
        the tabs directly.</div>
    <div>One day, the page may also display useful information but let's not be hasty.</div>
    <button class="btn btn-default" ng-click="login()">Login</button>
</div>