<div>
   <ng-include src="'template/error_detail.html'"></ng-include>
   <div><span>Name: </span><span>{{node.name}}</span></div>
   <div><span>Listens on interface: </span><span>{{node.dns}}</span></div>
   <div><span>HTTP port: </span><span>{{node.port}}</span></div>
   <div><span>Output file directory: </span><span>{{node.outputDirectory}}</span></div>
   <div><span>Job repository directory: </span><span>{{node.jobRepoDirectory}}</span></div>
   <div><span>Log level: </span><span>{{node.rootLogLevel}}</span></div>
   <div><span>Last seen alive: </span><span>{{node.lastSeenAlive}}</span></div>
   <div><span>JMX registry TCP port: </span><span>{{node.jmxRegistryPort}}</span></div>
   <div><span>JMX server TCP port: </span><span>{{node.jmxServerPort}}</span></div>
</div>