<div>
    <h2 class="bs-docs-header">Welcome to the JQM ${project.version} administration web console</h2>

    <div>
        <br />
        <div>On each tab, click the <span class="fas fa-question-circle"></span>
            icon for contextual help.</div>
        Further reference can be found in the <a href="http://jqm.readthedocs.org/en/jqm-all-${project.version}">full
            online documentation <span class="glyphicon glyphicon-book"></span></a> for version ${project.version}.
    </div>

    <div ng-show="$ctrl.me.perms.enforced">
        <div>Logged as user {{$ctrl.me.perms.login}}.</div>
        <a href="/auth/logout" class="btn btn-outline-dark">Logout</a>
    </div>
</div>
